* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    background-color: orange;
    color: #333;
}


.container {
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.profile-picture {
    margin-bottom: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* makes it circular */
    object-fit: cover;
    border: 4px solid #0077ff;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

header span {
    color: #0077ff;
}

section {
    text-align: left;
    margin: 20px 0;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    border-left: 5px solid #0077ff;
    padding-left: 10px;
}

p, li {
    font-size: 1.1rem;
    line-height: 1.6;
}

ul {
    list-style: square inside;
    padding-left: 10px;
}

ul li {
    margin-bottom: 5px;
}
.contact ul {
    list-style: none;
    padding-left: 10px;
}

.contact li {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.contact strong {
    color: #0077ff;
}

